[submodule "vendor/sunset"]
	path = vendor/sunset
	url = git@github.com:allegro0132/sunset.git
	branch = codex/vibeos-0.6.0
[submodule "vendor/jitterentropy-rs"]
	path = vendor/jitterentropy-rs
	url = https://github.com/qnfm/jitterentropy-rs.git
	ignore = dirty
[submodule "vendor/smoltcp"]
	path = vendor/smoltcp
	url = https://github.com/allegro0132/smoltcp
	branch = codex/vibeos-tcp-segmentation
